@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

/***0px***/

.instrument-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background: transparent;
  max-width: 48rem;
  width: 100%;
  box-shadow: 0 10px 25px rgba(46, 46, 46, 0.044);
  backdrop-filter: blur(4px);
  z-index: 100;

  &__container {
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #4b5563;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: #111827;
    }

    &:focus {
      outline: 2px solid #111;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    text-align: center;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 23rem;
    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    object-fit: contain;
    border-radius: 0.5rem;
    height: 100%;
  }

  &__description {
    font-size: 0.875rem;
    color: #374151;
  }

  &__info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 0.25rem;
  }

  &__text {
    font-size: 0.875rem;
    color: #374151;
    line-height: 1.5;
  }

  &__year {
    font-size: 0.875rem;
    font-weight: 600;
    color: #1f2937;
    margin-top: 1rem;
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
