@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

/***0px***/

.instrument-card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__image-wrapper {
    background-color: rgb(240, 237, 237);
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__content {
    padding: 1rem;
    background-color: white;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2937;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    margin: 1rem 0 0 0;
    @include button-base(
      $linear-gradient-purple,
      $linear-gradient-purple-hover,
      $shadow-purple
    );
  }

  &__button--secondary {
    margin: 0.5rem 0 0 0;
    @include button-base(
      $linear-gradient-red,
      $linear-gradient-red-hover,
      $shadow-red
    );
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
