@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;
@use "../../styles/_reset" as *;
@use "../../styles/_global" as *;

/***0px***/

.draggable-instrument {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid $color-red;

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    // display: block;
    // pointer-events: none;
    // user-select: none;
  }

  &__name {
    background-color: $color-red;
    text-align: center;
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
