@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

/***0px***/

.draggable-instrument {
  width: 150px;
  transition: transform 0.2s;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  border: 2px solid $color-red;
  cursor: pointer;

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  &__name {
    background-color: $color-red;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
