@use "./_mixins" as *;
@use "./_variables" as *;

/* Chrome, Edge, Safari et Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $bg-primary;
}
::-webkit-scrollbar-thumb {
  background: $color-red;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 186, 186);
}

::selection {
  background-color: black;
  color: white;
}

html,
* {
  scroll-behavior: smooth;
}

body {
  // background-image: url("./../../public/media/bg-home.webp");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px 20px 0 20px;
}

header {
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
legend,
summary {
  font-family: $font-text;
  font-weight: 500;
  color: $color-text;
}
span {
  font-family: $font-text;
  font-weight: 400;
}

h1 {
 font-size: 3.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  color: black;
}

p,
input,
button,
a,
label {
  font-family: $font-text;
  font-weight: 400;
}

a,
label {
  color: black;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

button,
summary,
a {
  cursor: pointer;
}

textarea {
  outline: none;
  font-family: $font-text;
  font-weight: 500;
  font-size: 1rem;
}

/***Ecran à partir de 640px***/
@include mobile-sm {
}

/***Ecran à partir de 768px***/
@include mobile-md {
}

/***Ecran à partir de 1024px***/
@include mobile-lg {
  main {
    margin: 15px 0 15px 0;
  }

  header {
    margin: 15px 25px 0 25px;
  }

  h1 {
    font-size: 4rem;
   }
}

/***Ecran à partir de 1280px***/
@include mobile-xl {
}

/***Ecran à partir de 1536px***/
@include mobile-2xl {
}
