/**********VARIABLES TEXTUELLES**********/
$font-text: 'Montserrat', 'sans-serif';

/**********VARIABLES COULEURS**********/
$bg-primary: white;
$primary-accentuate-color: #ffe500;
$second-accentuate-color: #ffea2f;

$color-text: black;

