/**********VARIABLES TEXTUELLES**********/
$font-text: 'Montserrat', 'sans-serif';

/**********VARIABLES COULEURS**********/
$bg-primary: white;
$primary-accentuate-color: #ffe500;
$second-accentuate-color: #ffea2f;
$color-red: #F30000;
$color-purple: #6947FF;
$color-blue: #00c3ff;
$color-green: #00ff88;
$color-white: #f0f0f0;
$color-text: black;

