@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

/***0px***/

.instrument-manage {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;

  @include mobile-lg {
    flex-direction: row;
  }

  &__section {
    flex: 1;
    min-width: 0;
    width: 100%;

    &--editing {
      @include mobile-lg {
        width: 66.66%;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__aside {
    width: 100%;
    max-width: 33.33%;
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: flex-start;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;

    &--visible {
      width: 100%;

      @include mobile-lg {
        width: 33.33%;
      }
    }

    &--hidden {
      width: 0;
    }
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
