@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

/***0px***/

.home {
  // background-image: url("./../../public/media/bg-home.png");
  // background-repeat: repeat;
  // background-position: center;
  // background-size: contain;

  &__title {
    text-align: center;
  }

  &__list {
    &--primary-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 1rem 0;
    }

    &--secondary-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      font-size: 1rem;
      gap: 1rem;
    }
  }

  &__link--discover-instruments {
    @include button-style($color-red);

  }

  &__link--play {
    @include button-style($color-purple);

  }

  &__item--first-list {
    background-color: white;
    border-radius: 10px;

    .home__link {
      font-size: 2rem;
    }
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
  .home {
    &__section {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      // margin-left: 25rem;
    }

    &__title {
      position: relative;
      font-size: 8rem;
      text-align: start;
      width: 100%;

      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid black;
      }

      &::after {
        position: absolute;
        content: "";
        clip-path: circle(50% at 50% 50%);
        bottom: -12px;
        left: -20px;
        background-color: $color-red;
        width: 30px;
        height: 30px;
      }
    }

    &__link--play {
      @include button-style(#7f00ff); // violet lumineux
      background: linear-gradient(135deg, #7f00ff, #e100ff);
      color: white;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    &__link--discover-instruments {
      @include button-style(#ff4b2b); // rouge orangé
      background: linear-gradient(135deg, #ff416c, #ff4b2b);
      color: white;
  
      &:hover {
        transform: scale(1.05);
      }
    }

    &__list--primary-actions {
      flex-direction: row;
      margin: 3rem 0;
    }

  }
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
