@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 3rem;

  @include mobile-md {
    flex-direction: row;
  }

  &__section {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    height: fit-content;
    background-color: white;
  }

  &__title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    color: $color-title;
    position: relative;
    text-transform: uppercase;
  }

  &__list {
    &--primary-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      margin-top: 1.5rem;

      @include mobile-md {
        flex-direction: row;
        justify-content: center;
      }
    }

    &--secondary-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      text-decoration: underline;
      gap: 1.2rem;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 1rem;
    padding: 1.2rem 2rem;
    display: inline-block;
    width: 100%;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &--play,
    &--discover-instruments {
      height: 6rem;
      font-size: 3rem;
      align-content: center;
    }

    &--play {
      @include button-base(
        $linear-gradient-purple,
        $linear-gradient-purple-hover,
        $shadow-purple
      );
    }

    &--discover-instruments {
      @include button-base(
        $linear-gradient-red,
        $linear-gradient-red-hover,
        $shadow-red
      );
    }
  }

  &__image {
    height: fit-content;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    background-color: white;
  }

  @include mobile-lg {
    &__title {
      font-size: 6rem;
      text-align: left;
    }
    &__section {
      align-items: flex-start;
    }
  }
}
