@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

/***0px***/

.hub {
  padding: 2rem;

  &__section {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: fit-content;
    background-color: white;
  }

  &__title {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
  }

  &__subtitle {
    margin-bottom: 0 0 2rem 0;
  }

  &__list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0  0 0;
  }

  &__item {
    flex: 1 1 auto;
  }

  &__button {
    @include button-base(
      $linear-gradient-blue,
      $linear-gradient-blue-hover,
      $shadow-blue
    );
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
