@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

/***0px***/

.ranking__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking__title {
    margin: 0 0 1rem 0;
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {

}

/***1280px***/
@include mobile-xl {
  
}

/***1536px***/
@include mobile-2xl {
}
