@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

.header {
  padding: 0.7rem 1.5rem;
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.2);
  border-radius: 15px;
  background-color: white;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-logo {
      font-weight: bold;
      font-size: 1.25rem;
      color: $color-blue;
      text-decoration: none;
      flex-shrink: 0;
    }

    &__list {
      display: flex;
      align-items: center;

      @media (min-width: 1024px) {
        gap: 2rem;
      }

      @media (max-width: 1023px) {
        position: absolute;
        top: 133%;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: white;
        border: 2px solid black;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 15px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 5000;

        &--open {
          opacity: 1;
          pointer-events: auto;
        }
      }

      @media (min-width: 1024px) {
        flex-direction: row;
        border: none;
        position: static;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__item {
      color: $color-white;
      padding: 0.75rem 0;
      transition: all 0.3s ease-in-out;
      width: 100%;

      @media (min-width: 1024px) {
        width: auto;
      }

      &--ranking {
        @include button-base(
          $linear-gradient-red,
          $linear-gradient-red-hover,
          $shadow-red
        );
      }

      &--login,
      &--signup {
        @include button-base(
          $linear-gradient-green,
          $linear-gradient-green-hover,
          $shadow-green
        );
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__avatar {
      position: relative;

      &-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $color-blue;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 12px $color-blue;
        }
      }

      &--mobile {
        display: none;
        margin-left: 1rem;
        margin-right: 0.5rem;

        @media (max-width: 1023px) {
          display: flex;
          align-items: center;
        }

        &-img {
          width: 45px;
          height: 45px;
        }
      }

      &--desktop {
        display: flex;
        align-items: center;

        @media (max-width: 1023px) {
          display: none;
        }
      }
    }

    &__dropdown {
      position: absolute;
      top: 110%;
      right: 0;
      background: #fdfdfd;
      border: 2px solid $color-red;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(63, 63, 63, 0.3);
      padding: 0.8rem;
      z-index: 1000;
      animation: fadeIn 0.15s ease-in-out;

      &-item {
        margin: 0.5rem 0;

        &-link,
        button {
          text-align: left;
          display: block;
          width: 100%;
          font-size: 1rem;
          transition: color 0.2s;
          white-space: nowrap;
          background: none;
          border: none;
          cursor: pointer;

          &:hover {
            color: $color-red;
          }
        }
      }
    }
  }

  &__burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-left: auto;

    &:focus {
      outline: 2px solid $color-blue;
      outline-offset: 2px;
    }

    &-icon {
      width: 30px;
      height: 30px;
      display: block;
    }

    @media (max-width: 1023px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
