@use "../styles/_mixins" as *;
@use "../styles/_variables" as *;

/***0px***/


.header {
  padding: 0.7rem 1.5rem;
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.2);
  border-radius: 15px;
  background-color: white;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__item {
      color: $color-white;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0.75rem 1.5rem;
      border: 2px solid transparent;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;

      &--ranking {
        @include button-base(
          $linear-gradient-red,
          $linear-gradient-red-hover,
          $shadow-red
        );
      }

      &--login {
        @include button-base(
          $linear-gradient-green,
          $linear-gradient-green-hover,
          $shadow-blue
        );
      }
      &--signup {
        @include button-base(
          $linear-gradient-green,
          $linear-gradient-green-hover,
          $shadow-green
        );
      }
    }

    &__avatar {
      position: relative;

      &-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $color-blue;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 12px $color-blue;
        }
      }
    }

    &__dropdown {
      position: absolute;
      top: 110%;
      right: 0;
      background: #fdfdfd;
      border: 2px solid $color-red;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(63, 63, 63, 0.3);
      padding: 0.8rem;
      z-index: 1000;
      animation: fadeIn 0.15s ease-in-out;

      &-item {
        margin: 0.5rem 0;

        &-link,
        button {
          text-align: left;
          display: block;
          width: 100%;
          font-size: 1rem;
          transition: color 0.2s;
          white-space: nowrap;

          &:hover {
            color: $color-red;
          }
        }
      }
    }
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/***640px***/
@include mobile-sm {
}

/*** 768px***/
@include mobile-md {
}

/***1024px***/
@include mobile-lg {
}

/***1280px***/
@include mobile-xl {
}

/***1536px***/
@include mobile-2xl {
}
