{% extends 'base.html.twig' %}

{% block body %}
    <h1>OUPS... vous n'êtes surement pas au bon endroit !</h1> 
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block footer %}
		
{% endblock %}
